*{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

#main{
    height:100%;
    width:100%;
    background-color: aquamarine;

}

#header{
    height:10%;
    width:100%;
    background-color:aquamarine;
}

#page1{
    position: relative;
    height:90%;
    width: 100%;
    background-color:salmon;


}