*{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

#main{
    height:100%;
    width:100%;
    background-color: aquamarine;
    overflow: hidden;

}

#header{
    height:10%;
    width:100%;
    background-color:aquamarine;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    
}

#fakeHeader{
    height:10%;
    width:100%;
    background-color: yellow;
    position: relative;
    z-index: 5;
}

#page1, #page2 {
    width: 100%;
    background-color: salmon;
    padding-top: 10%; /* Ensures content starts below the header */
}

#page1 {
    height: 90vh; /* vh units ensure height is relative to viewport */
    background-color: salmon;
}

#page2 {
    height: 90vh;
    background-color: darkgray;
}